* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: rgb(255, 50, 50);
  box-shadow: 3px 3px 5px 1px rgb(133, 130, 130);

  div.logo {
    display: flex;
    align-items: center;
    flex: 5 1 400px;
    margin-left: 2rem;

    img {
      width: 6vw;
      height: 6vw;
    }

    h1 {
      color: white;
    }
  }

  nav {
    flex: 2 1 400px;

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;

      li {
        padding: 2rem 0;

        a {
          color: #ffffff;
          text-decoration: none;
          font-size: 1.35rem;
        }

        a:hover {
          background-color: white;
          color: rgb(255, 50, 50);
          transition: all 0.3s ease-in;
        }
      }
    }
  }

  button.toggle {
    display: none;
  }
}

main {
  section.backimage {
    width: 100%;
    min-height: 90vh;
    background-image: url(../images/pictures/T03.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    scroll-margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    h3 {
      font-size: 3.5rem;
      color: white;
      margin: 2rem 0rem;
      text-shadow: #000 5px 5px 5px;
    }

    button.start {
      background-color: rgb(255, 50, 50);
      padding: 0.75rem 1rem;
      font-size: 1.5rem;
      color: #fff;
      border: none;
      border-radius: 1rem;
      cursor: pointer;
    }

    div.filter {
      background-color: rgba(0, 0, 0, 0.4);
      width: 100%;
      min-height: 90vh;
      position: absolute;
      top: 0;
      z-index: -1;
    }
  }

  section.second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h2 {
      font-size: 2rem;
      margin: 2rem 1rem;
    }

    section.cards {
      display: flex;
      width: 80%;
      min-height: 80vh;
      flex-wrap: wrap;

      div.card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        flex: 1 1 300px;

        div.image-container {
          overflow: hidden;
          width: 15vw;
          height: 15vw;
          border-radius: 50%;

          img {
            width: 15vw;
            height: 15vw;
            border-radius: 50%;
            transition: all 0.2s;
          }

          img:hover {
            transform: scale(1.2);
          }
        }

        h4 {
          font-size: 2rem;
          margin: 1rem 0rem;
        }

        p {
          font-size: 1.23rem;
        }

        a {
          margin: 1rem 0rem;
          text-decoration: none;
          padding: 1rem;
          background-color: rgb(255, 50, 50);
          color: white;
          border-radius: 0.5rem;
          font-size: 1.25rem;
        }
      }
    }
  }

  section.about,
  section.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 1rem;
    text-align: center;
    scroll-margin-top: 10vh;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    .container {
      width: 80%;
      max-width: 800px;

      p {
        font-size: 1.25rem;
        line-height: 1.6;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .input-group {
          width: 100%;
          margin-bottom: 1.5rem;
          text-align: left;

          label {
            display: block;
            margin-bottom: 0.5rem;
            font-size: 1.1rem;
          }

          input,
          textarea {
            width: 100%;
            padding: 0.8rem;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 5px;
          }
        }

        button {
          background-color: rgb(255, 50, 50);
          color: white;
          padding: 0.8rem 2rem;
          border: none;
          border-radius: 5px;
          font-size: 1.25rem;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: rgb(200, 40, 40);
          }
        }
      }
    }
  }

  section.about {
    background-color: #f9f9f9;
  }
}

dialog.modal {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0;
  width: 90%;
  max-width: 400px;
  margin: auto;
  position: fixed;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .modal-content {
    padding: 2rem;
    position: relative;

    .close-btn {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 1.5rem;
      cursor: pointer;
    }

    h2 {
      text-align: center;
      margin-bottom: 1.5rem;
      font-size: 1.8rem;
    }

    form {
      display: flex;
      flex-direction: column;

      .input-group {
        margin-bottom: 1rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
        }

        input {
          width: 100%;
          padding: 0.8rem;
          border: 1px solid #ccc;
          border-radius: 5px;
        }
      }

      button {
        background-color: rgb(255, 50, 50);
        color: white;
        padding: 0.8rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.1rem;
        margin-top: 1rem;
        transition: background-color 0.3s;

        &:hover {
          background-color: rgb(200, 40, 40);
        }
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #e3dcdc;
  min-height: 40vh;
  justify-content: space-around;

  div.hh {
    display: flex;
    align-items: center;

    img {
      width: 5vw;
      height: 5vw;
    }
  }

  nav {
    width: 30%;

    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
      list-style-type: none;
      flex-wrap: wrap;

      li {
        flex-basis: 100px;

        a {
          font-weight: 600;
          text-decoration: none;
          color: #000;
          font-size: 1.25rem;
        }
      }
    }
  }

  div.socialmedia {
    a {
      margin: 0rem 1rem;

      img {
        width: 3vw;
        height: 3vw;
      }
    }
  }
}

/*scrollbar setting*/
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 800px) {
  header {
    div.logo {
      margin-left: 0.5rem;

      img {
        width: 15vw;
        height: 15vw;
      }

      h1 {
        font-size: 1.95rem;
      }
    }

    button.toggle {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 40px;
      height: 30px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-right: 2rem;
      z-index: 10;

      span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: all 0.3s ease;
      }

      &::before,
      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background-color: white;
        transition: all 0.3s ease;
      }

      &.active {
        span {
          opacity: 0;
        }

        &::before {
          transform: translateY(13px) rotate(45deg);
        }

        &::after {
          transform: translateY(-13px) rotate(-45deg);
        }
      }
    }

    nav {
      display: none;
      width: 100%;

      &.active {
        display: block;
      }

      ul {
        padding: 1rem;
        flex-direction: column;

        align-items: left;
        justify-content: left;

        li {
          a {
            padding: 0 70% 1px 0;
          }

          a.index {
            padding-right: 80%;
          }
        }
      }
    }
  }

  main {
    section.backimage {
      h3 {
        font-size: 2rem;
      }
    }

    section.second {
      h2 {
        font-size: 1.5rem;
      }

      section.cards {
        div.card {
          div.image-container {
            overflow: hidden;
            width: 50vw;
            height: 50vw;
            border-radius: 50%;

            img {
              height: 50vw;
              width: 50vw;
            }
          }
        }
      }
    }
  }

  footer {
    div.hh {
      img {
        width: 15vw;
        height: 15vw;
      }
    }

    div.socialmedia {
      a {
        img {
          width: 8vw;
          height: 8vw;
        }
      }
    }
  }
}